$browser-context: 16;

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

:global{

  .video-sticky {
    position: fixed !important;
    bottom: em(80);
    right: em(95);
    width: em(300);
    height: em(150);
    z-index: 500;
    visibility: visible;
  }

  @media (min-width: em(1024)) and (max-width: em(1366)) {
    .video-sticky {
      right: em(70);
      bottom: em(65);
    }
  }

  @media (min-width: em(1367)) and (max-width: em(1600)) {
    .video-sticky {
      right: em(80);
      bottom: em(60);
    }
  }
}